## Processing of Job Descriptions Required Education

Goal:</br>
Transform the single variable 'required_education' to two variables 'required_education_level' 'required_education_field'

Assumtions:</br>
- Choose education level based on lowest level referred to (e.g. bachelor required, master preferred --> bachelor)
- something else?

In [15]:
# Initialisation
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F
from pyspark.sql import types as T

from utils.spark_utils import pyspark_df_info

In [16]:
spark = SparkSession.builder \
    .appName("Silver Processing Education") \
    .master("local[*]") \
    .getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

In [17]:
# Loading data 
df = spark.read.parquet('data/silver/*.parquet')
pyspark_df_info(df)

Total entries: 6241
Data columns (total 32 columns):
#   Column                    Non-Null Count     Dtype
--- ------------------------- ------------------ ---------------
0   resume_id                 6241               string
1   job_id                    6241               string
2   _id                       6241               string
3   fit                       6241               string
4   snapshot_date             6241               date
5   fit_score                 6241               double
6   company_name              3908               string
7   role_title                6046               string
8   employment_type           6196               string
9   job_location              4075               string
10  about_the_company         3664               string
11  job_responsibilities      6241               array<string>
12  required_hard_skills      6241               array<string>
13  required_soft_skills      6241               array<string>
14  required_language_proficiencies 6241               array<string>
15  required_education        4378               string
16  required_work_authorization 1141               string
17  jd_certifications         6241               array<string>
18  job_snapshot              6241               date
19  name                      237                string
20  location_preference       146                string
21  work_authorization        131                string
22  employment_type_preference 304                string
23  hard_skills               6241               array<string>
24  soft_skills               6241               array<string>
25  languages                 6241               array<string>
26  experience                6241               array<struct<role:string,company:string,date_start:string,date_end:string,role_description:string,snapshot_date:string,id:string>>
27  education                 6241               array<struct<degree:string,institution:string,date_start:string,date_end:string,grade:double,description:string,snapshot_date:string,id:string>>
28  resume_certifications     6241               array<string>
29  resume_snapshot           6241               string
30  YoE                       6126               float
31  exp_sim                   6241               float

In [18]:
# Filtering to relevant columns & removing null values
df_education = df['job_id', '_id', 'snapshot_date', 'job_snapshot', 'required_education']
df_education.show(5, truncate=False)
print(f"Total records: {df_education.count()}")

df_education = df_education.filter(F.col('required_education').isNotNull())
print(f"Records after filtering nulls: {df_education.count()}")

+-----------+------------------------+-------------+------------+--------------------------------------------------------------------------------------------------+
|job_id     |_id                     |snapshot_date|job_snapshot|required_education                                                                                |
+-----------+------------------------+-------------+------------+--------------------------------------------------------------------------------------------------+
|JD_s93wTCLp|6845479b07df3572368fc32c|2021-07-15   |2021-07-15  |NULL                                                                                              |
|JD_Z7yf1tu6|684547e670634603a66d8deb|2021-07-24   |2021-07-24  |Bachelor's degree in computer science or a related discipline required. Master's degree preferred.|
|JD_hAp1XnJZ|684547ed70634603a66d8def|2021-07-21   |2021-07-21  |NULL                                                                                              |
|JD_zsgGxd2s|684547f370634603a66d8df3|2021-07-30   |2021-07-30  |NULL                                                                                              |
|JD_RrDNNvMz|684547f470634603a66d8df4|2021-07-13   |2021-07-13  |Bachelor's degree in Business Administration, Information Technology, or a related field          |
+-----------+------------------------+-------------+------------+--------------------------------------------------------------------------------------------------+
only showing top 5 rows

Total records: 6241
Records after filtering nulls: 4378

In [19]:
df_education_levels = spark.createDataFrame(
    data=[
        ("High School", 1, "Completion of high school or equivalent", 
            [
                "high school", "ged", "secondary", "college", "diploma"
            ]
        ),
        ("Associate's Degree", 2, "Completion of a two-year degree program or certificate", 
            [
                "associate's", "a.a", "a.s", "a.a.s", "certificate"
            ]
        ),
        ("Bachelor's Degree", 3, "Completion of a undergraduate degree program", 
            [
                "bachelor", "bachelor's degree", "bachelor's in", "undergraduate degree",
                "ba", "bs", "bsc", "bba", "beng"
                
            ]
        ),
        ("Master's Degree", 4, "Completion of a postgraduate degree program", 
            [
                "master", "master's degree", "master's in", "postgraduate degree",
                "ma", "ms", "msc", "mba", "m.eng"
            ]
        ),
        ("Doctorate", 5, "Completion of a doctoral degree program", 
            [
                "phd", "md", "jd", "doctor", "doctorate", "doctorate degree", "doctoral degree"
            ]
        )
    ],
    schema=T.StructType([
        T.StructField('level_name', T.StringType(), False),
        T.StructField('level_scale', T.IntegerType(), False),
        T.StructField('level_description', T.StringType(), True),
        T.StructField('level_references', T.ArrayType(T.StringType()), True)
    ])
)

df_education_levels.show(5, truncate=False)
pyspark_df_info(df_education_levels)
# Save as Parquet instead of CSV
df_education_levels.write.mode('overwrite').parquet('data/education_level_synonyms_simplified.parquet')

# Read back from Parquet (preserves schema and array types)
df_education_levels = spark.read.parquet('data/education_level_synonyms_simplified.parquet')
pyspark_df_info(df_education_levels)

+------------------+-----------+------------------------------------------------------+------------------------------------------------------------------------------------------+
|level_name        |level_scale|level_description                                     |level_references                                                                          |
+------------------+-----------+------------------------------------------------------+------------------------------------------------------------------------------------------+
|High School       |1          |Completion of high school or equivalent               |[high school, ged, secondary, college, diploma]                                           |
|Associate's Degree|2          |Completion of a two-year degree program or certificate|[associate's, a.a, a.s, a.a.s, certificate]                                               |
|Bachelor's Degree |3          |Completion of a undergraduate degree program          |[bachelor, bachelor's degree, bachelor's in, undergraduate degree, ba, bs, bsc, bba, beng]|
|Master's Degree   |4          |Completion of a postgraduate degree program           |[master, master's degree, master's in, postgraduate degree, ma, ms, msc, mba, m.eng]      |
|Doctorate         |5          |Completion of a doctoral degree program               |[phd, md, jd, doctor, doctorate, doctorate degree, doctoral degree]                       |
+------------------+-----------+------------------------------------------------------+------------------------------------------------------------------------------------------+


Total entries: 5
Data columns (total 4 columns):
#   Column                    Non-Null Count     Dtype
--- ------------------------- ------------------ ---------------
0   level_name                5                  string
1   level_scale               5                  int
2   level_description         5                  string
3   level_references          5                  array<string>



Total entries: 5
Data columns (total 4 columns):
#   Column                    Non-Null Count     Dtype
--- ------------------------- ------------------ ---------------
0   level_name                5                  string
1   level_scale               5                  int
2   level_description         5                  string
3   level_references          5                  array<string>



Total entries: 5
Data columns (total 4 columns):
#   Column                    Non-Null Count     Dtype
--- ------------------------- ------------------ ---------------
0   level_name                5                  string
1   level_scale               5                  int
2   level_description         5                  string
3   level_references          5                  array<string>

In [ ]:
education_levels_list = spark.read.parquet('data/education_level_synonyms_simplified.parquet').collect()
broadcasted_education_levels = spark.sparkContext.broadcast(education_levels_list)

print(f"Broadcasted education levels: {len(broadcasted_education_levels.value)}")
print(f"Broadcasted education levels sample: \n{broadcasted_education_levels.value[:2]}")

Broadcasted education levels: 5
Broadcasted education levels sample:
[Row(level_name="Associate's Degree", level_scale=2, level_description='Completion of a two-year degree program or certificate', level_references=["associate's", 'a.a', 'a.s', 'a.a.s', 'certificate']), Row(level_name="Bachelor's Degree", level_scale=3, level_description='Completion of a undergraduate degree program', level_references=['bachelor', "bachelor's degree", "bachelor's in", 'undergraduate degree'])]

In [ ]:
# Using rapidfuzz for fuzzy matching
from rapidfuzz import fuzz, process

# Collect and broadcast the education levels data
education_levels_list = spark.read.parquet('data/education_level_synonyms_simplified.parquet').collect()
broadcasted_education_levels = spark.sparkContext.broadcast(education_levels_list)

# For each entry in df_education, determine the education level by trying to match the required_education field with the level_references
def determine_education_level(education_input: str) -> int:
    if education_input is None:
        return None

    best_score = 0
    best_match_level = 0
    # Use rapidfuzz to find the best match
    for row in broadcasted_education_levels.value:
        match_result = process.extractOne(education_input.lower(), row.level_references, scorer=fuzz.partial_token_set_ratio)
        if match_result and match_result[1] > best_score:
            best_score, best_match_level = match_result[1], row.level_scale

    return best_match_level


# iterate through the DataFrame and apply the function
df_education = df_education.withColumn(
    'education_level',
    F.udf(determine_education_level, T.IntegerType())(F.col('required_education'))
)
df_education.show(10, truncate=False)
pyspark_df_info(df_education)

+-----------+------------------------+-------------+------------+----------------------------------------------------------------------------------------------------------------------------------------+---------------+
|job_id     |_id                     |snapshot_date|job_snapshot|required_education                                                                                                                      |education_level|
+-----------+------------------------+-------------+------------+----------------------------------------------------------------------------------------------------------------------------------------+---------------+
|JD_Z7yf1tu6|684547e670634603a66d8deb|2021-07-24   |2021-07-24  |Bachelor's degree in computer science or a related discipline required. Master's degree preferred.                                      |3              |
|JD_RrDNNvMz|684547f470634603a66d8df4|2021-07-13   |2021-07-13  |Bachelor's degree in Business Administration, Information Technology, or a related field                                                |3              |
|JD_7rYoKTcb|684547fc70634603a66d8df9|2021-07-28   |2021-07-28  |bachelor's degree                                                                                                                       |3              |
|JD_AAwaK8NY|6845480970634603a66d8e01|2021-07-17   |2021-07-17  |Bachelors degree in accounting or finance (concentration in Accounting) preferred.                                                      |3              |
|JD_ZZpNAyeK|6845482370634603a66d8e12|2021-07-16   |2021-07-16  |BS Degree in computer science or related STEM field                                                                                     |3              |
|JD_kL06mNvW|6845483870634603a66d8e1f|2021-07-15   |2021-07-15  |Bachelor's degree or equivalent combination of education and experience (e.g., Master's + 1 year, or 7 years of related work experience)|3              |
|JD_gLmc70sy|6845483f70634603a66d8e24|2021-07-04   |2021-07-04  |Bachelor's degree in Computer Science, Engineering, or a related field                                                                  |3              |
|JD_WEgsEJYj|6845485370634603a66d8e31|2021-07-11   |2021-07-11  |B.S. in Computer Science or related field                                                                                               |3              |
|JD_fqhdZazg|6845486f70634603a66d8e43|2021-07-18   |2021-07-18  |BS/MS degree in Computer Science, Software Engineering, or related field                                                                |3              |
|JD_oG0yCZhW|6845487070634603a66d8e44|2021-07-02   |2021-07-02  |Bachelor's degree or equivalent experience                                                                                              |3              |
+-----------+------------------------+-------------+------------+----------------------------------------------------------------------------------------------------------------------------------------+---------------+
only showing top 10 rows


Total entries: 4378
Data columns (total 6 columns):
#   Column                    Non-Null Count     Dtype
--- ------------------------- ------------------ ---------------
0   job_id                    4378               string
1   _id                       4378               string
2   snapshot_date             4378               date
3   job_snapshot              4378               date
4   required_education        4378               string
5   education_level           4378               int

In [23]:
for l in range(1, 6):
    c = df_education.filter(F.col('education_level') == l).count()
    print(f"Count for education level {l}: {c}")

Count for education level 1: 78
Count for education level 2: 30
Count for education level 3: 3639
Count for education level 4: 348
Count for education level 3: 3639
Count for education level 4: 348
Count for education level 5: 283
Count for education level 5: 283